.booking-bg {
  background-image: url(/assets/backgrounds/Frame9.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 100vw;
  width: 100dvw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.booking-header > h1 {
  position: relative;
  top: 1rem;
  color: var(--default-font-clr);
  font-size: 3em;
  margin: 0;
}
.booking-left{
  width: 40%;
}
.booking-form-wrapper{

}
.booking-right{
  width: 60%;
}
.calender-container{

}
@media (min-width: 800px) {
}



