.booking-bg {
  gap: 3rem;
  background-image: url(/assets/backgrounds/Frame9.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.booking-header > h1 {
  position: relative;
  top: 1rem;
  color: var(--default-font-clr);
  font-size: 3em;
  margin: 0;
}
.booking-left{
  color: var(--default-font-clr);
}
.booking-form-wrapper{

}
.booking-form{
  display: flex;
  flex-direction: column;
}
.booking-right {
  margin-bottom: 2rem;
  color: var(--default-font-clr);
}
.calender-container{

}
@media (min-width: 800px) {

  .booking-left {
    display: flex;
    height: 10rem;

}
}



