@keyframes move-hero-bg {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
/* @keyframes move-hero-h1 {
  0% {
    transform: translatex(-100%);
  }
  100% {
    transform: translateY(0);
  }
} */
.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  background-image: url(/assets/images/paralax/back.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.header-wrapper{
  align-self: center;
  color: var(--default-font-clr);
  font-size: 5em;
}
/* .hero-header{
  animation: move-hero-h1 4000ms linear 4s forwards;
} */
.sub-wrapper{
  color: var(--default-font-clr);
}
.hero-bg {
  bottom: -30rem;
  position: absolute;
  z-index: 99;
  animation: move-hero-bg 5000ms linear 4s forwards;
}

.hero-content{
  position: relative;
  text-align: center;
}