
.nav-bar{
  display: none;
}
.nav-bar-mobile{
  position: fixed;
  width: 100vw;
  width: 100dvw;
  height: 2rem;
  background-color: var(--default-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.nav-bar-mobile.animate {
  top: -100px;
}
.nav-bar-mobile.sticky {
  top: 0;
  z-index: 99;
}
.logo-navbar-mobile{
  width: 30%;
}
.logo-nav-wrapper{
  margin-left: 1rem;
}
.bars-mobile{
  margin-right: 1rem;
  color: var(--primary-accent)
}
.drop-down-content {
  display: none;
  position: absolute;
  min-width: 9rem;
  background-color: var(--zero-opacity);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 1rem;
}
.drop-down-content > a {
  color: var(--primary-accent);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
}
.drop-down-content a:hover {
  background-color: var(--primary-accent);
}
.bars-mobile:hover .drop-down-content {
  display: block;
}
.bars-mobile:hover .hamburger {
  background-color: var(--zero-opacity);
}



@media (min-width: 800px) {
.nav-bar-mobile{
  display: none;
}
.nav-bar{
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 4rem;
  background-color: var(--default-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul, nav ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: var(--primary-accent);
  font-weight: bold;
  font-size: 2em;
}

nav a:hover {
  color: var(--primary-accent);
}


.logo-navbar {
  width: 60%;
}
.navmenu-links {
  right: 4rem;
  position: relative;
  gap: 2rem;
  display: flex;
  color: var(--primary-accent);
  align-items: center;
  justify-content: space-evenly;
}
.nav-icons{
  display: flex;
  gap:2rem
}
.icons{
  color: var(--primary-accent);
}

.nav-bar.animate {
  top: -100px;
}
.nav-bar.sticky {
  top: 0;
  z-index: 99;
}

}


