.booking-bg {
  gap: 1rem;
  background-image: url(/assets/backgrounds/Frame9.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.booking-header > h1 {
  position: relative;
  top: 1rem;
  color: var(--default-font-clr);
  font-size: 3em;
  margin: 0;
}
.booking-left {
  display: flex;
  color: var(--default-font-clr);
  flex-direction: column;
  align-items: center;
}
.booking-form-wrapper{

}
.features-checkbox{
  display: flex;
  flex-direction: row;
}
.booking-form {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.booking-right {
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: var(--default-font-clr);
}


.booking-presented{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.calender-container{
  background-color: antiquewhite;
}
.btn{
  color: var(--default-font-clr);
  background-color: var(--offset-dark);
  font-family: var(--secondary-font);
  border: 2px solid var(--spotlight-blur-clr);
  border-radius: 4px;
}
.btn:hover{
  background-color: var(--spotlight-blur-clr);
  color: var(--offset-dark);
  cursor: pointer;
}

@media (min-width: 800px) {
  .booking-bg {
    gap: 4rem;
  }
  .booking-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}


.hide {
  display: none;
}
