.discount-bg{
  position: relative;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;

}
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.discount-bg-clouds {
  background-size: cover;
  background-position: top;
  background-image: url(/assets/images/paralax/clouds.svg);
  z-index: -1;
  bottom: 0;
}
.discount-bg-beach{
  background-image: url(/assets/images/paralax/ali-abdul-rahman-72IuuwilrY8-unsplash.svg);
  z-index: -1;
  bottom: 8rem;
}
.discount-bg-palms{
background-image: url(/assets/images/paralax/Palm\ Tree\ Image\ 2.svg);
z-index: 99;
}
.content {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 50px;
  top:10px;
}
.big-header-wrapper-discount{
  color: var(--extra-font-clr);
}
.big-header-discount {
  text-shadow: -2px 2px 5px #f60442;
  font-size: 2.1em;
}
.discount-text {
  text-shadow: -2px 1px 0px black;
  font-size: 0.95em;
}
.disclaimer-text{
  font-size: 0.25em;
  color: var(--extra-font-clr);
  text-shadow: -2px 1px 0px black;
}