.features-bg{
  display: flex;
  flex-direction: column;
  background-image: url(/assets/backgrounds/bg-palms-dark.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.feat-text-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  color: var(--default-font-clr);
}
.features-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.features-wrapper {
  gap: 1rem;
  color: var(--default-font-clr);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5rem;
}
.feat-item {
  overflow: hidden;
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  background-color: var(--room-cards-bg);
}
.feat-item:hover {
  cursor: pointer;

}
.feat-item:active{
  transform: scale(1.4);
}
.feature-text-header {
  color: var(--default-font-clr);
  padding: 0.5rem;
}
.feature-price{
  color: var(--default-font-clr);
}
.feature-desc-text {
  text-align: center;
  color: var(--default-font-clr);
}
.feature-btn{
  font-family: var(--secondary-font);
}
.feature-img-wrapper {
  border: 1px solid var(--primary-accent);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-img {

  height: 100%;
  object-fit: contain;
}