.bg-hero{
  position: relative;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pool{background-image: url(/assets/images/paralax/Background.png);
  z-index: 0;
  bottom: 0;
}
.nightsky{background-image: url(/assets/images/paralax/back.jpg);
  z-index: -1;
  bottom: 8rem;
}
.hero-text {
  text-shadow: 0px 0px 20px var(--spotlight-blur-clr);
}
.hero-header{
  font-size: 4em;
}
.hero-content {
  display: flex;
  position: relative;
  z-index: -1;
  text-align: center;
  padding: 50px;
  top: 22rem;
  flex-direction: column;
  align-items: center;
}


@media screen and (min-width: 800px) {
  .hero-header {
    margin-bottom: 0;
    font-size: 6em;
}
  .hero-sub-header {
    max-width: 43%;
    font-size: 2em;
}
}