main {

  background-image: url(/assets/backgrounds/Group22.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  height: 100vh;
  height: 100dvh;
  height: 100svh;
  display: flex;
  flex-direction: row;
  align-items: center;


}
.left-side-home {
  width: 20%;
}
.right-side-home {
  width: 80%;
}
.home-text {
  text-shadow: -7px 2px 15px black;
  color: gold;
  color: var(--default-font-clr);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.remove{
  display: none;
}

@media (min-width: 330px) {
  .remove{
    display: block;
  }
}
@media (min-width: 800px) {
.left-side-home {
  width: 65%;
}
.right-side-home {
  width: 30%;
}
.home-text {
  line-height: 1.125;
  color: var(--default-font-clr);
  font-size: 1rem;
}

}
@media (min-width: 1050px) {
  .home-text {
    font-size: 1.1em;
}
}