.collage-cointainer {
  height: 100vh;
  height: 100dvh;/* Dynamical values for mobile units that might use virtual scrollbars and top menues*/
  height: 100svh;/* Dynamical values for mobile units that might use virtual scrollbars and top menues*/
  width: 100vw;
  width: 100dvw;/* Dynamical values for mobile units that might use virtual scrollbars and top menues*/
  width: 100svw;/* Dynamical values for mobile units that might use virtual scrollbars and top menues*/
  background-color: var(--default-bg);
  margin: 0rem;
  overflow: hidden;
  position: relative;
}

#image-track {
  overflow: hidden;
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;

}

#image-track > .image {
  width: 60vmin;
  height: 76vmin;
  object-fit: cover;
  object-position: 100% center;
}