.bg-pre {
  background-color: var(--default-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
}



.left-side-pre {
  text-align: center;
  width: 90%;
}
.pre-header-wrapper > h1 {
  font-size: 2rem;
  font-weight: 700;
}
.pre-header-wrapper > p {
  font-size: 1rem;
  font-weight: 400;
}



/*scroll reveal*/
.scroll-reveal span {
  color: hsl(0 0% 100% / 0); /*transparent background color on text before reveal*/
  -webkit-background-clip: text; /*for accesability for browser without support*/
  background-clip: text; /*makes the backround image (the colour gradient in my case) apply to the text*/
  -webkit-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: 0% 100%;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, red, blue);
  animation: scroll-reveal linear forwards;
  animation-timeline: view(); /*makes the animation apply to the viewport I.E when the user scrolls down, since we apply animation-range-start /ends to the elements itselfs*/
}

.scroll-reveal h1 span { /*the animation range for the texts. NOTE the text elements needed to be inline so therefore I made them span*/
  animation-range-start: cover 0vh;
  animation-range-end: cover 83vh;
}
.scroll-reveal p span {
  animation-range-start: contain 53vh;
  animation-range-end: cover 57vh;
}

/*SCROLL reveal ends*/

/* images*/
.right-side-pre {
  align-self: center;
  width: 90%;
}

.img-grid-wrapper {
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
}

.img-grid-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.img-grid-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.img-grid-item {
  border-radius: 25px;
  width: 100%;
  height: auto;
  display: block;
}
/* images ends*/

@media (min-width: 650px) {
  .bg-pre {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .pre-header-wrapper > h1 {
    font-size: 1.5rem;
}
  .pre-header-wrapper > p {
    font-size: 1rem;
}
  .left-side-pre {
    margin-top: 1rem;
    width: 35%;
}
  .right-side-pre {
    width: 55%;
  }
}
