.bg-pre {
  background-color: var(--default-bg);
  height: 100vh;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.left-side-pre {
  text-align: center;
  width: 35%;
}

.pre-header-wrapper > h1 {
  font-size: 2rem;
  font-weight: 700;
}
.pre-header-wrapper > p {
  font-size: 0.75rem;
  font-weight: 400;
}
.right-side-pre {
  align-self: center;
  width: 90%;
}

.img-grid-wrapper {
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
}

.img-grid-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.img-grid-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.img-grid-item {
  border-radius: 25px;
  width: 100%;
  height: auto;
  display: block;
}


/*scroll reveal*/
.scroll-reveal span {
  color: hsl(0 0% 100% / 0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: 0% 100%;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, red, blue);
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
}

.scroll-reveal h1 span {
  animation-range-start: cover 15vh;
  animation-range-end: cover 45vh;
}
.scroll-reveal p span {
  animation-range-start: cover 31vh;
  animation-range-end: cover 47vh;
}


@media(min-width: 650px) {
.bg-pre {
  flex-direction: row;
  align-items: center;
}
.pre-header-wrapper > h1 {
  font-size: 3rem;
}
.pre-header-wrapper > p {
  font-size: 1.5rem;
}

.right-side-pre {
  width: 55%;
}
}