.center-rooms{
  background-image: url('/assets/backgrounds/Rectangle1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rooms-text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--default-font-clr);
}
.rooms-header-subtext {
  padding: 0 2rem 0 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.room-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.room {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: -1px 4px 13px 6px rgba(0,0,0,0.2);
  background-color: var(--secondary-bg);
  margin: 0 1rem 1rem 1rem;
}
.room:hover{
  cursor: pointer;
}
.room-inner-header > p{
  padding: 0.5rem;
}
.room-inner-img {
  width: 100%;
  max-width: 400px;
}
.hidden{
  display: none;
}
@media(min-width: 800px) {
.rooms-header-subtext {
  width: 75%;
}
.rooms-header-subtext > p {
  width:  48%;
}
.room-container {
  width: calc(100% - 1rem);
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.room {
  overflow: hidden;


  width: calc(25% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.room.expanded {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.room-inner-img-wrapper{
  display: flex;
  flex-direction: column;
}
.room-inner-img {
  max-height: 13rem;
}
}