:root{
/* Colors*/
--default-bg: #d03475ff;
--primary-accent: #9658d3ff;
--secondary-bg: #ea4c87ff;
--secondary-accent: #e03957ff;
--default-font-clr: #fe9460ff;
--offset-dark: #222022;
--spotlight-blur-clr: #ece255;

/*fonts*/
--default-font: 'IBM Plex Sans', sans-serif;
--detail-font: 'Grandstander', cursive, sans-serif;
--secondary-font: 'Bebas Neue', sans-serif;
}
.default-font{
    font-family: var(--default-font);
}
.secondary-font{
    font-family: var(--secondary-font);
}
.detail-font{
    font-family: var(--detail-font);
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--default-bg);
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
a:visited{
  text-decoration: none;
}
.hide{
  display: none;
}