:root{
/* Colors*/
--default-bg: #190009;
--primary-accent: #9658d3ff;
--secondary-bg: #ea4c87ff;
--secondary-accent: #e03957ff;
--default-font-clr: #FF5722;;
--room-cards-bg: #f7ad6b;
--offset-dark: #222022;
--spotlight-blur-clr: #ece255;
--extra-font-clr: #fe9460ff;

/*fonts*/
--default-font: sans-serif, 'IBM Plex Sans';
--detail-font: 'Grandstander', cursive, sans-serif;
--secondary-font: 'Bebas Neue', sans-serif;
}
@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
.default-font{
    font-family: var(--default-font);
}
.secondary-font{
    font-family: var(--secondary-font);
}
.detail-font{
    font-family: var(--detail-font);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--default-bg);
  overflow-x: hidden;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
a:visited{
  text-decoration: none;
}
.hide{
  display: none;
}